::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

.main {
  height: calc(100vh - 62px);
  display: flex;
}

.aside {
  width: 270px;
  background-color: white;
  overflow-y: scroll;
}

.section {
  flex: 1;
  overflow-y: scroll;
  padding: 10px;
}

.section-title {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #888;
  vertical-align: center;
}

.section-title p {
  border: none;
  margin-top: 20px;
  font-size: 18px;
}

p { 
  vertical-align: center;
  padding: 5px;
}