.navigation-item {
  padding: 20px 10px; 
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 18px;
  border-left: 7px solid transparent;
}

.navigation-item span {
  margin-left: 10px;
}

.selected-item {
  background-color: #eee;
  color: var(--primary-color);
  border-left-color: var(--primary-color);
  transition: background-color .5s ease;
}

