.form {
  width: 420px;
  margin: auto;
  height: 480px;
  background-color: #fff;
  box-shadow: 0 0 2px 2px #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}