:root {
  --primary-color: indigo; 
  --body-color: #fff;
}

@font-face {
  src: url("http://localhost:3000/assets/fonts/RobotoCondensed-Regular.ttf");
  font-family: rbt_c;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
  font-family: rbt_c, 'Roboto Condensed';
}

body {
  margin: 0;
  background-color: var(--body-color);
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}